@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "NeueMontreal";
  src: url("/fonts/NeueMontreal-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "NeueMontrealMedium";
  src: url("/fonts/NeueMontreal-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "NeueMontrealBold";
  src: url("/fonts/NeueMontreal-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

body {
  margin: 0;
  font-family: "NeueMontreal";
  background-color: #f2f2f2;
}
