@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "NeueMontreal";
  src: url("/fonts/NeueMontreal-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "NeueMontrealMedium";
  src: url("/fonts/NeueMontreal-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "NeueMontrealBold";
  src: url("/fonts/NeueMontreal-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

body {
  margin: 0;
  font-family: "NeueMontreal";
  background-color: #f2f2f2;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #131417;
  transition: 0.5s;
  border-radius: 30px;
}

::-webkit-scrollbar-thumb:hover {
  background: #000;
}

@media screen and (min-width: 1000px) {
  .pseudo-text-effect {
    position: relative;
    padding: 0;
    overflow: hidden;
    transition: transform 0.25s;
    display: block;
  }
  .pseudo-text-effect::after {
    content: attr(data-after);
    display: inline-block;
    transform: translateY(100%);
    position: absolute;
    left: 0;
    transition: inherit;
  }
  .pseudo-text-effect > span {
    display: inline-block;
    transform: translateY(0%);
    transition: inherit;
  }
  .pseudo-text-effect:hover > span {
    transform: translateY(-100%);
  }
  .pseudo-text-effect:hover::after {
    transform: translateY(0%);
  }
}
